<!-- <form class="form-horizontal quick-search col-xs-4"> -->
<!-- 	<fieldset> -->
<!-- 		<legend>Use a busca rápida para <br /> encontrar a função desejada</legend> -->
<!-- 		<div class="input-group"> -->
<!-- 			<input type="text" class="form-control input-sm input-large" placeholder="O que você está procurando?" data-ng-model="vm.search.value"> -->
<!-- 			<span class="input-group-addon"><i class="fa fa-search"></i></span> -->
<!-- 		</div> -->
<!-- 	</fieldset> -->
<!-- </form> -->
<nav class="most-visited" style="padding-top: 10px;">
	<h3>Mais acessados</h3>
	<ul class="nav list-services">
		<li class="active">
			<a data-ui-sref="app.causa">
				<i class="icons-produto"></i>
				Causa
			</a>
		</li>
		<li class="active">
			<a data-ui-sref="app.natureza">
				<i class="icons-cotacao"></i>
				Natureza
			</a>
		</li>
		<li>
			<a href="javascript:void(0);">
				<i class="icons-sinistro"></i>
				Adicionar
			</a>
		</li>
		<li>
			<a href="javascript:void(0);">
				<i class="icons-sinistro"></i>
				Adicionar
			</a>
		</li>
		<li>
			<a href="javascript:void(0);">
				<i class="icons-sinistro"></i>
				Adicionar
			</a>
		</li>
	</ul>
</nav>