<!--
<div class="top-bar" data-ng-controller="SecurityController as vmSecurity">
	<div class="container" data-ng-init="vmSecurity.init()" style="padding-left: 0px; padding-right: 0px">
		<hgroup>
			<h1><a class="logo">Bradesco Seguros</a></h1>
			<h2 style="text-indent: 0px; opacity: 1;">GSRE-RE</h2>
		</hgroup>

		<ul class="user-links pull-right">
					
			<li>
				<div class="dropdown quick-access">
					<a class="dropdown-toggle" data-toggle="dropdown" href="index.html#"><i class="fa fa-bolt"></i>Acesso Rápido <i class="fa fa-angle-down"></i></a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
						<li><a tabindex="-1" href="./">Início</a></li>
						<li><a tabindex="-1" href="index.html#">Pesquisar</a></li>
						<li><a tabindex="-1" href="index.html#">Cadastrar Produto</a></li>
						<li><a tabindex="-1" href="index.html#">Coberturas</a></li>
						<li><a tabindex="-1" href="index.html#">Análise de conformidade</a></li>
						<li><a tabindex="-1" href="index.html#">Cadastros básicos</a></li>
					</ul>
				</div>
			</li>
			
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" role="button" > {{vmSecurity.loggedUser.name}} <b class="fa fa-caret-down"> </b></a>
				<ul class="dropdown-menu">
					<li>
						<a style="cursor: pointer;" ng-click="vmSecurity.executarLogout()">Sair</a>
					</li>
				</ul>
			</li>
			
			<li><a href="javascript:void(0);" class="config"><i class="fa fa-cog"></i></a></li>
			
		</ul>
	</div>
</div>
-->
<h3>Este é o TOPO do MyClass</h3>